<div class="card">
	<div class="card-body">
	<h1>About</h1>
	<p>Mi nombre es Frank, tengo cuenta en youtube como <a href="https://www.youtube.com/channel/UCaypB7CvHIK0-aQNjp5E4Ag?view_as=subscriber">FapCod</a> y en Facebook como <a href="https://www.facebook.com/FapCod">FapCod</a>
	</p>
	</div>
</div>