<blockquote class="blockquote text-center">
  <p class="mb-0">Esta aplicacion de notas personales fue creada a traves de tutoriales en youtube y con ganas de aprender.</p>
  <footer class="blockquote-footer">Sigueme en <cite title="Source Title"><a href="https://www.youtube.com/channel/UCaypB7CvHIK0-aQNjp5E4Ag?view_as=subscriber">Youtube</a></cite></footer>
</blockquote>